body {
      font-size: 25px;
    }
    
<!-- .content {
    margin-top: 50px;
} -->
    
body {
    padding-top: 100px; /* Adjust the value based on the height of your navbar */
    margin: 0; /* Add this line to reset the default margin */
}
    
h1 {
  font-size: 1.5em;
}
    
<!-- .footer {
    font-size: 0.2em;
} -->

html {
  background-image: url('media/IMG_8135.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
    position: fixed; /* Keep the navbar at the top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    background-color: #000; /* Black background color */
    z-index: 10; /* Ensure it stays on top of other content */
    overflow: hidden; /* Clear floats */
}

.navbar a {
    float: left; /* Align links to the left side */
    display: block; /* Change links to block elements */
    color: white; /* Set text color to white */
    text-align: center; /* Center text within the links */
    padding: 14px 16px; /* Add padding for spacing */
    text-decoration: none; /* Remove underline from links */
}

/* Change link color on hover */
.navbar a:hover {
    background-color: #ddd; /* Light grey background on hover */
    color: black; /* Text color changes to black on hover */
}

 .button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px
  }
  
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.roundedButton {
    background-color: #04AA6D; /* Change the background color */
    color: white; /* Change the text color */
    border: none; /* Remove border */
    padding: 15px 32px; /* Add some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px;
    border-radius: 12px; /* Add rounded corners */
}