/* back image
html {
  background-image: url('media/IMG_8135.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */

/* gig table */
  #myTable {
    border: 1px solid black;
  }
  #myTable th, #myTable td {
    border: 1px solid black;
    padding: 5px;
  }
  #myTable th {
    background-color: #e2ecf7;
    font-size: 16px;
    color: black;
  }
  #myTable td {
    background-color: #eef4fa;
    color: black;
    font-size: 16px;
  }

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 10;
    overflow: hidden;
}

.navbar a {
    font-size: 25px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

img {
  margin-top: 70px; /* nav bar - padding */
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.content {
  max-width: 700px;
  margin: auto;
}

.content p {
  text-align: left;
  font-size: 20px;
}

main {
  flex: 1;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

.centered-box {
  background-color: #F096A8;
  color: white;
  width: 355px;
  overflow-wrap: normal;
  padding: 10px;
  margin: 0; /* horizontal centering */
}

.centered-box h1 {
  margin: 0;
  padding: 0;
}

#footer {
    position: auto;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px;
    font-size: 16px;
}

/* photo table */
table {
  border: 10px solid black;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  color: white; /* font */
}

td {
  vertical-align: top;
  width: 50%;
  background-color: black;
  padding: 2px; !important;
  font-size: 20px;
}

.responsive-image {
  width: calc(100% - 4px);
  height: auto;
  padding: 2px;
  box-sizing: border-box;
  display: block;
  margin: auto;
}

@media screen and (max-width: 400px) {
  .responsive-image {
    max-width: 100%;
  }
}

figure {
  margin: 0;
}

figcaption {
  margin: 0;
}

/* center caption famous people */
.caption {
    display: block;
    max-width: 300px;
    margin: auto;
    text-align: left;
  }

.unselectable {
  -khtml-user-select: none; /* Konqueror */                       -webkit-touch-callout: none; /* iOS Safari */ 
  -o-user-select: none; /* Opera */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  user-select: none; /* Standard syntax */
}

blockquote {
  margin-left: 40px;
  margin-right: 40px;
}

/* center images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* round corners ai image */
#copilot-image {
  border-radius: 15px;
}

/* photo grid start */
/* Define the grid layout for all screen sizes */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns by default */
    grid-template-rows: repeat(8, auto); /* 8 rows */
    gap: 1px; /* Space between grid items */
    max-width: 700px; /* Maximum width of the grid */
    margin: auto; /* Center the grid horizontally */
  }

  /* Define the grid layout for screens wider than 700px */
  @media (min-width: 700px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr); /* 3 columns on larger screens */
    }
  }

  /* Style for the grid items */
  .grid-item {
    background: black; /* background */
    padding: 5px; /* Padding inside grid items */
    border: 1px solid transparent; /* Border for grid items */
    font-size: 20px; /* text size */
    color: white;
  }